<div class="container mt-5">
  <div id="previewUserList" class="user-list">
    <div *ngFor="let user of users" class="user-card">
      <div class="card-body">
        <h5 class="card-title pb-3">
          {{ user.firstName }} {{ user.lastName }}
        </h5>
        <p class="card-text">Email: {{ user.email }}</p>
        <p class="card-text">Hasło: {{ user.password }}</p>
        <p class="card-text">Płeć: {{ user.gender }}</p>
        <p class="card-text">Aktywny: {{ user.active ? "Tak" : "Nie" }}</p>
        <p class="card-text">Komentarz: {{ user.comment }}</p>
      </div>
    </div>
  </div>
</div>
